NEXT_PUBLIC_GENLAYER_NETWORK=studionet
NEXT_PUBLIC_CONTRACT_ADDRESS=0xA38Ab4F28062721c19ea1cB4052F24aaB19d3C4F
NEXT_PUBLIC_DEPLOYER_ADDRESS=0x8e5Bd026227CC93169Df51BD9C1b6CA82292F0D2
NEXT_PUBLIC_EXPLORER_BASE=https://explorer-studio.genlayer.com/address/
NEXT_PUBLIC_STUDIO_BASE=https://studio.genlayer.com/?import-contract=
DEPLOYER_PRIVATE_KEY=your_private_key_here
